body {
    font-family: 'Poppins', sans-serif;

}

.body-container{
    display: flex;
    flex-direction: column;
    margin: 0 337px;
}

/* Navbar Section */

.nav{
    display: flex;
}

.nav-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    margin: 42px 0 0 0;
}

.logo-container {
    display: flex;
    width: fit-content;
}

.nav-links{
    display: flex;
    flex-direction: row;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 36px;
    width: fit-content;
    align-items: center;

    .nav-link{
    text-decoration: none;
    color: #000;
    }

    .nav-link:hover,
    .nav-link.active {
        border-bottom: 2px solid #333; 
    }
}



/* Home Section */

.home-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.home-left-section {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title{
        font-family: 'Playfair Display', serif;
        font-size: 52px;
        margin: 163px 5px 5px 0;
    }

    .sub-title {
        font-size: 18px;
        width: 494px;
    }

    .browse-link-container{
        display: flex;
        flex-direction: row;
        margin-top: 15px;
        width: 494px;
        justify-content: space-between;
        align-items: center;
    }

    .browse{
        display: flex;
        width: 248px;
        height: 56px;
        background-color: #F2F0DF;
        justify-content: center;
        align-items: center;
        border-radius: 19px;

        .link{
            text-decoration: none;
            font-size: 18px;
            font-weight: 700;
            color: #000;
        }
    }

    .spring{
        display: flex;
        flex-direction: row;
        width: 248px;
        justify-content: center;
        gap: 8px;

        .link{
            color: #000;
        }
    }

    .price-container{
        display: flex;
        flex-direction: row;
        width: 494px;
        justify-content: space-between;
        border: 1px solid #000;
        border-radius: 19px;
        margin: 50px 0 0 0;

        .price-box{
            display: flex;
            align-items: start;
            width: 70px;
            margin: 33px 0 0 40px;

            .price{
                font-size: 33px;
                margin: 0;
                font-weight: 275;
                font-family: 'Poppins', sans-serif;
            }
        }

        .price-desc{
            font-size: 14px;
            width: 312px;
            height: 88px;
            margin: 43px 31px 20px 0;

            .number{
                font-weight: 700;
            }
        }
    }
}

.home-right-section {
    display: flex;
    width: 100%;
    justify-content: end;

    .image-container{
        display: flex;
        flex-direction: row;
        gap: 30px;
        width: fit-content;
        height: 100%;
        margin: 163px 0 0 0;

        .image-left{
            display: flex;
            width: 254px;
            height: 531px;
            flex-shrink: 0;
            border-radius: 19px;
            background: url('./asset/clothing3.jpg') center/cover no-repeat, lightgray;
            justify-content: center;
            align-items: end;

            .price-shoes{
                display: flex;
                width: 227px;
                height: 61px;
                background-color: #FFF;
                margin: 0 0 15px 0;
                border-radius: 10px;
                flex-direction: row;
                /* gap: 18px; */
                justify-content: center;
                align-items: center;
                border-right: #000;
                

                .price-shoes-container{
                    display: flex;
                    flex-direction: column;

                    .price-title{
                        margin:0;
                        font-size: 16px;
                        font-weight: 700;    
                    }

                    .price-subtitle{
                        margin: 0;
                        font-size: 14px;
                        color: #505050;    
                    }
                }

                .line{
                    color: #505050;
                    height: 60%;
                    margin: 0 24px;

                }

                .price{
                    display: flex;
                }
            }
            
        }

        .image-right{
            width: 254px;
            height: 531px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;

            .image-sweater{
                display: flex;
                width: 254px;
                height: 251px;
                border-radius: 19px;
                background: url('./asset/clothing1.jpg') center/cover no-repeat, lightgray;
                /* margin: 0 0 0 30px; */
                justify-content: center;
                align-items: end;

                .price-shoes{
                    display: flex;
                    width: 227px;
                    height: 61px;
                    background-color: #FFF;
                    margin: 0 0 15px 0;
                    border-radius: 10px;
                    flex-direction: row;
                    /* gap: 18px; */
                    justify-content: center;
                    align-items: center;
                    border-right: #000;
                    
    
                    .price-shoes-container{
                        display: flex;
                        flex-direction: column;
    
                        .price-title{
                            margin:0;
                            font-size: 16px;
                            font-weight: 700;    
                        }
    
                        .price-subtitle{
                            margin: 0;
                            font-size: 14px;
                            color: #505050;    
                        }
                    }
    
                    .line{
                        color: #505050;
                        height: 60%;
                        margin: 0 24px;
    
                    }
    
                    .price{
                        display: flex;
                    }
                }
            }

            .image-jacket{
                display: flex;
                width: 254px;
                height: 251px;
                border-radius: 19px;
                background: url('./asset/clothing2.jpg') center/cover no-repeat, lightgray;
                margin: 30px 0 0 0;
                justify-content: center;
                align-items: end;

                .price-shoes{
                    display: flex;
                    width: 227px;
                    height: 61px;
                    background-color: #FFF;
                    margin: 0 0 15px 0;
                    border-radius: 10px;
                    flex-direction: row;
                    /* gap: 18px; */
                    justify-content: center;
                    align-items: center;
                    border-right: #000;
                    
    
                    .price-shoes-container{
                        display: flex;
                        flex-direction: column;
    
                        .price-title{
                            margin:0;
                            font-size: 16px;
                            font-weight: 700;    
                        }
    
                        .price-subtitle{
                            margin: 0;
                            font-size: 14px;
                            color: #505050;    
                        }
                    }
    
                    .line{
                        color: #505050;
                        height: 60%;
                        margin: 0 24px;
    
                    }
    
                    .price{
                        display: flex;
                    }
                }
            }
        }
    }
}